.sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        min-height: 100vh !important;
        min-width: 10vw;
        padding: 0px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        font-size: 24px;
}

.active{
    background-color: #C4C4C4;
}